.modal
  button.modal__btn-close
  //- content
  .modal__footer
    p.modal__footer-question 
    p.modal__footer-description
    form(action="#").modal__footer-form
      .modal__footer-wrap
        input(type="text" name="application").modal__footer-input
        button(type="submit" value="Отправить").modal__footer-submit
    .site-success
      .site-success__circle-loader
        .site-success__checkmark