.modal
  button.modal__btn-close
  //- content
  .modal__footer
    p.modal__footer-question 
    p.modal__footer-description
    form.modal__footer-form
      input(type="text" name="application").modal__footer-input
      input(type="button" value="Отправить").modal__footer-submit