.site-modal
  button.site-modal__btn-close
  .site-modal__content-wrap
    .site-modal__footer
      p.site-modal__footer-question 
      p.site-modal__footer-description
      form(action="#").site-modal__footer-form
        .site-modal__footer-wrap
          input(type="text" name="application").site-modal__footer-input
          button(type="submit" value="Отправить").site-modal__footer-submit
      .site-success
        .site-success__circle-loader
          .site-success__checkmark