extends layouts/default
include helpers/mixins

block variables
  - const title = "Reviews"

block content
  .wrapper
    include ../blocks/modules/reviews/reviews


block scripts
  script(src="js/main.js")
  script(src="js/vendor.js")
