include ../../components/review/review

.section
  h2 Новости
  article.site-review
  .site-review__content
    h3.site-review__product Landing page
    p.site-review__product-name Интро: порошковая краска
    p.site-review__decription Мы занимаемся продажей, решили продвигать краску. Товар в довольно большом объеме, поэтому решили, что надо продвигать краску не только в своем регионе, но и по России. Обратился в Yode PRO, мне назначили встречу...
    video(width="556" height="307" controls="controls").site-review__video
      source(src="video/test.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
    .site-review__link-wrap
      h4.site-review__link-title вложения
      ul.site-review__link-list
        li.site-review__link-item
          a(href="#").site-review__link
            div.site-review__link-button
            p.site-review__link-label Благодарственное письмо
        li.site-review__link-item
          a(href="#").site-review__link
            div.site-review__link-button
            p.site-review__link-label Отзыв в группе Yode.PRO ВК
        li.site-review__link-item
          a(href="#").site-review__link
            div.site-review__link-button
            p.site-review__link-label Группа «Марс» ВК
    .site-review__container
      .site-review__author
        .site-review__img-wrap
          img(src="img/photo-author.png", alt="Максим Титюшкин").site-review__author-photo
        .site-review__text-wrap
          p.site-review__author-name Максим Титюшкин
          p.site-review__author-company Ген.директор ООО «ИНТРО»
      button.site-review__button Перейти к кейсу