article.site-review
  .site-review__content
    h3.site-review__product 
    p.site-review__product-name 
    .site-review__decription
      p 
    video(width="556" height="307" controls poster="" muted).site-review__video
      source(src="" type='video/mp4;')
    .site-review__link-wrap
      h4.site-review__link-title вложения
      ul.site-review__link-list
        li.site-review__link-item
          a(href="#").site-review__link 
        li.site-review__link-item
          a(href="#").site-review__link.site-review__link_arrow 
        li.site-review__link-item
          a(href="#").site-review__link.site-review__link_vk 
    .site-review__container
      .site-review__author
        .site-review__img-wrap
          img(src="", alt="").site-review__author-photo
        .site-review__text-wrap
          p.site-review__author-name 
          p.site-review__author-company 
      button.site-review__button Перейти к кейсу