@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-700.woff2") format("woff2"),
    url("../fonts/BebasNeue-700.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro-400.woff2") format("woff2"),
    url("../fonts/GothamPro-400.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro-500.woff2") format("woff2"),
    url("../fonts/GothamPro-500.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro-700.woff2") format("woff2"),
    url("../fonts/GothamPro-700.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro-900.woff2") format("woff2"),
    url("../fonts/GothamPro-900.woff") format("woff");
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}
